.pxl-loader {
    background: white;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999999;
    top: 0;
    left: 0;
    -webkit-transition: all 300ms cubic-bezier(.4,0,1,1);
    -khtml-transition: all 300ms cubic-bezier(.4,0,1,1);
    -moz-transition: all 300ms cubic-bezier(.4,0,1,1);
    -ms-transition: all 300ms cubic-bezier(.4,0,1,1);
    -o-transition: all 300ms cubic-bezier(.4,0,1,1);
    transition: all 300ms cubic-bezier(.4,0,1,1)
}


.pxl-loader.style-2 .loading-spinner {
    margin: -20px auto 0;
    width: 40px;
    height: 40px;
    top: 50%;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2s infinite linear;
    animation: sk-rotate 2s infinite linear
}

.pxl-loader.style-2 .loading-dot1,.pxl-loader.style-2 .loading-dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out
}

.pxl-loader.style-2 .loading-dot1 {
    background-color: var(--primary)
}

.pxl-loader.style-2 .loading-dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background-color: var(--color-dark)
}