
/* General styling for the custom select */
.custom-select {
  position: relative;
}

/* Styling the visible selected div */
.select-selected {
  padding: 8px 35px 8px 15px;
  cursor: pointer;
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: center; 
  user-select: none;
  border: 1px solid var(--border-color);
}
.dark .select-selected {
  --white: #fff;
  color: #fff;
}
.light .select-selected {
  --color-dark: #000;
  color: #000;
}
.select-selected span{
  display: none;
}
.dark .select-selected:after {
  border-right: 1px solid var(--color-white);
  border-top: 1px solid var(--color-white);
}
.light .select-selected:after {
  border-right: 1px solid var(--color-dark);
  border-top: 1px solid var(--color-dark);
}


/* Arrow inside the select-selected div */
.select-selected:after {
  content: "";
  position: absolute;
  right: 15px;
  width: 8px;
  height: 8px;
  transform: rotate(135deg);
  margin-top: -4px;
  transition: .3s all;
}

/* Style the select when it's active (dropdown is open) */
.select-selected.select-active:after {
  transform: rotate(-45deg);
  margin-top: 4px;
}

.dark .select-items {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.light .select-items {
  background-color: white;
}
.custom-select.right .select-items{
   right: auto;
    left: 0;
}
.select-items {
  position: absolute;
  width: 100%;
  z-index: 99;
  max-height: 320px;
  overflow-y: auto;
  display: block;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  width: 200px;
  scrollbar-width: thin;
  transition: .3s all;
  padding: 10px 0;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  right: 0;
}

/* Individual dropdown items */
.select-item {
  padding: 5px 20px;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}
.select-item.active {
  background-color: var(--primary);
  color: var(--color-dark);
}

.select-item:hover {
  background-color: #eee; /* Hover effect */
  color: var(--color-dark);
}

/* Show the dropdown items when select-selected is clicked */
.select-items.select-hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
}

